#y-bubble.y-bubble(style='left: -999px; top: -999px;')
    #y-arrow.y-arrow

    if loading
        .y-searching Searching
    else
        .y-bubble-main
            .y-bubble-query
                b.y-bubble-word #{word}
                if pronoun
                    i &nbsp;&nbsp;/#{pronoun}/&nbsp;&nbsp;
                        if wav
                            a#y-bubble-wav(href='javascript:void(0)', onclick='document.querySelector("#y-audio").src="#{wav}";document.querySelector("#y-audio").play();')
                                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='1em', height='1em', viewbox='0 0 465.256 465.256', style='enable-background:new 0 0 465.256 465.256; fill: #ffffff; vertical-align: middle;', xml:space='preserve')
                                    g
                                        g
                                            path(d='M87.742,204.879c-8.668,0-15.701,7.035-15.701,15.701c0,83.252,63.68,151.883,144.886,159.802v53.471h-86.91c-8.666,0-15.701,7.033-15.701,15.701c0,8.664,7.035,15.701,15.701,15.701h102.614h102.617c8.659,0,15.701-7.037,15.701-15.701c0-8.668-7.042-15.701-15.701-15.701h-86.918v-53.471c81.211-7.919,144.889-76.55,144.889-159.802c0-8.666-7.029-15.701-15.701-15.701c-8.664,0-15.701,7.035-15.701,15.701c0,71.23-57.955,129.189-129.185,129.189c-71.236,0-129.185-57.959-129.185-129.189C103.443,211.915,96.416,204.879,87.742,204.879z')
                                            path(d='M222.014,326.098h22.626c46.014,0,83.311-37.297,83.311-83.306H138.704C138.704,288.801,176.001,326.098,222.014,326.098z')
                                            path(d='M245.125,0h-22.632c-46.013,0-83.31,37.297-83.31,83.31h189.253C328.436,37.297,291.13,0,245.125,0z')
                                            rect(x='139.183', y='99.851', width='188.286', height='31.4')
                                            rect(x='139.864', y='146.662', width='188.287', height='31.4')
                                            rect(x='138.485', y='195.067', width='188.279', height='31.4')
                            audio#y-audio(style='display: none;', src='')
            .y-bubble-explains
                if explains
                    each explain in explains
                        p #{explain}
            .y-bubble-relate
                if relate
                    each r in relate
                        p
                            | #{r.key}:&nbsp;
                            if r.value
                                | #{r.value}
            .y-bubble-more
                a(href='#{more}', target='_blank') More >>