#y-bubble.y-bubble(style='left: -999px; top: -999px;')
  #y-arrow.y-arrow

  if loading
    .y-searching Searching...
  else
    .y-bubble-main
      .y-bubble-query
        if word
          b.y-bubble-word #{word}
        if pronoun
          i &nbsp;&nbsp;/#{pronoun}/&nbsp;&nbsp;
            if wav
              a#y-bubble-wav(href='javascript:;')
                include ./mixin/audio
                +audio()
              audio#y-audio(style='display: none;', src=`${wav}`)
      .y-bubble-explains
        if explains
          if Array.isArray(explains)
            each explain in explains
              p #{explain}
          else
            p #{explains}
      .y-bubble-relate
        if relate
          each r in relate
            p
              | #{r.key}:&nbsp;
              if r.value
                | #{r.value}
      .y-bubble-more.y-clearfix
        - var wordReg = /^\b[a-zA-Z0-9]+\b$/ig;
        if wordReg.test(word) && wordbook
          span.y-pull-left
            include ./mixin/notebook
            +notebook()
            a#addToWordBookAction(href='javascript:;', data-word=`${word}`) 添加到有道单词本
            include ./mixin/loading
            +loading('hide')
        a.y-pull-right(href=`http://dict.youdao.com/search?q=${word}`, target='_blank') more >>
