if loading
  .loading.row
    .col.s12
      .progress
        .indeterminate
else
  .resultBox.row
    .col.s12
      .card.blue-grey.darken-1
        .resultField.card-content.white-text
          span.basic.card-title
            if error
              | #{error}
            else
              if pronoun
                code.pronoun
                  | /#{pronoun}/
                  if wav
                    a#wav(href='javascript:;')
                      include ./mixin/audio
                      +audio()
                    audio#audio(style='display: none;', src='#{wav}')
              if explains
                if Array.isArray(explains)
                  each explain in explains
                    | #{explain}
                    br
                else
                  | #{explains}
          if relate
            each r in relate
              p.web-translation 
                | #{r.key}:&nbsp;
                if r.value
                | #{r.value}
        if !error
          .card-action.clearfix
            - var wordReg = /^\b[a-zA-Z0-9]+\b$/ig;
            if wordReg.test(word) && wordbook
              span#addToWordBook.pull-left(data-word='#{word}') 添加到有道单词本
              include ./mixin/loading
              +loading('hide')
            span#more.pull-right(data-more='#{more}') more >>
